
@using PagedList.Mvc
@model PagedList.PagedList<CYESW.Models.Goods>
@{
    int? type = ViewBag.type;
    string class_1 = "", class_2 = "", class_3 = "", class_4 = "";//切换类名
    string text_1 = "", color_1;//显示状态,颜色
    if (type == 2) { class_2 = "uer_kk_1_active"; text_1 = "已下架"; color_1 = "#ff000094"; }
    else if (type == 3) { class_3 = "uer_kk_1_active"; text_1 = "交易中"; color_1 = "#0089ff94"; }
    else if (type == 4) { class_4 = "uer_kk_1_active"; text_1 = "已卖出"; color_1 = "#ffe00094"; }
    else { class_1 = "uer_kk_1_active"; text_1 = "正在出售"; color_1 = "orange"; }
}
<div class="row uer_kk">
    <div class="col-lg-2 uer_kk_1 @class_1"><a href="/User/UserIndex?type=1">已上架</a></div>
    <div class="col-lg-2 uer_kk_1 @class_2"><a href="/User/UserIndex?type=2">已下架</a></div>
    <div class="col-lg-2 uer_kk_1 @class_3"><a href="/User/UserIndex?type=3">交易中</a></div>
    <div class="col-lg-2 uer_kk_1 @class_4"><a href="/User/UserIndex?type=4">已卖出</a></div>
</div>
<div class="tab_content">
    <div class="uer_kk_sale uer_kk_sale_active" id="uer_kk_sale1">
        @if (Model.Count() < 1)
        {
            <div class="no_div">
                <h2 style="text-align:center">
                    <img src="~/images/icopng/疑惑的豆丁.png" />什么都没有找到哦!
                </h2>
            </div>
        }
        @for (int i=0; i<Model.Count();i++) {
            var image = Model[i].Goodsimage.FirstOrDefault().images;
            var a = 1;
            <div class="goods_list1">
                <div class="row uer_goods">
                    <div class="col-lg-2">
                        <img src="~/images/img/@image " style="width:150px;" />
                        <p style="align-content:center;margin:22px 0px 0px 5px;font-size: 14px;">发布时间：@Model[i].CreateTime</p>
                    </div>
                    <div class="col-lg-10 uer_goods_txt">
                        <h3>@Model[i].Name</h3>
                        <p><span>@Model[i].Info</span></p>
                        <p><span class="jiage">@Model[i].Price</span>/<span>@Model[i].GoodsType.TypeName</span></p>

                        <div class="uer_goods_foot">
                            @if (type == 1)
                            {
                                <a href="/Goods/Index?id=@Model[i].GoodsId" class="good_a" style="">
                                    <img src="~/images/icopng/刷新.png" />&nbsp;&nbsp;查看
                                </a>
                                <a href="/User/Updata_c?id=@Model[i].GoodsId" class="good_a">
                                    <img src="~/images/icopng/顶部.png" /> &nbsp;&nbsp;擦亮
                                </a>
                                <a href="/User/Updata_x?id=@Model[i].GoodsId" class="good_a">
                                    <img src="~/images/icopng/行囊.png" />&nbsp;&nbsp;下架
                                </a>
                                <a href="/Goods/Play?id=@Model[i].GoodsId" class="good_a">
                                    <img src="~/images/icopng/编辑.png" />&nbsp;&nbsp;编辑
                                </a>
                                <a href="/User/Delete?id=@Model[i].GoodsId" class="good_a">
                                    <img src="~/images/icopng/注意3.png" />&nbsp;&nbsp;删除
                                </a>
                            }
                            else if (type == 2)
                            {
                                <a href="#" class="good_a">
                                    <img src="~/images/icopng/行囊.png" />&nbsp;&nbsp;发布
                                </a>
                                <a href="#" class="good_a">
                                    <img src="~/images/icopng/编辑.png" />&nbsp;&nbsp;编辑
                                </a>
                                <a href="#" class="good_a">
                                    <img src="~/images/icopng/注意3.png" />&nbsp;&nbsp;删除
                                </a>
                            }
                            else if (type == 3)
                            {
                                int? orders = Model[i].Orders.Where(p => p.GoodsId == Model[i].GoodsId).SingleOrDefault().IsState;//获取订单状态1,2
                                if (orders == 1)
                                {
                                    <span>当前宝贝状态：买家已付款>等待卖家发货</span>
                                    <a href="#" class="good_a">
                                        <img src="~/images/icopng/前往.png" />&nbsp;&nbsp;前往发货
                                    </a>
                                }
                                else if (orders == 2)
                                {
                                    <span>当前宝贝状态：买家已付款>卖家已发货>等待买家收货</span>
                                    <a href="#" class="good_a">
                                        <img src="~/images/icopng/前往.png" />&nbsp;&nbsp;等待收货
                                    </a>
                                }

                            }
                            else
                            {
                                int? orders = Model[i].Orders.Where(p => p.GoodsId == Model[i].GoodsId).SingleOrDefault().IsState;//获取订单状态,3,4,5
                                if (orders == 3)
                                {
                                    <span>当前宝贝状态：买家已确认收货，双方互评</span>
                                    <a href="#" class="good_a">
                                        <img src="~/images/icopng/前往.png" />&nbsp;&nbsp;前往评价
                                    </a>
                                }
                                else if (orders == 4)
                                {
                                    <span>当前宝贝状态：买家已确认收货，双方互评</span>
                                    <a href="#" class="good_a">
                                        <img src="~/images/icopng/前往.png" />&nbsp;&nbsp;查看评价
                                    </a>
                                }
                                else
                                {
                                    <span>当前宝贝状态：双方已互评，交易结束。</span>
                                    <a href="#" class="good_a">
                                        <img src="~/images/icopng/前往.png" />&nbsp;&nbsp;前往查看
                                    </a>
                                }
                            }
                        </div>
                    </div>
                    <div class="sb_1" style="background-color:@color_1;">
                        @text_1
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<div style="padding:10px;margin:5px 0px 0px -15px;text-align:center;background-color:white;border-radius:15px">
    当前页/总页数（ @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount ）

    @Html.PagedListPager(Model, page => Url.Action("UserIndex", new
    {
        page,
        type = type
    }))
</div>

