@using CYESW.Models
@{
    ViewBag.Title = "Index";
    Goods goods = ViewData["goodsinfo"] as Goods;
    UserInfo user_1 = ViewData["user_1"] as UserInfo;//商品主人
    UserInfo user = Session["user"] as UserInfo;//访问主人
    int good_1 = 0;//用户商品遍历跳出
    int good_2 = 0;//用户商品图片轮播遍历跳出
    var mbx = "电脑"; int? mbxnub = 1;
    var isnew = "全新";//新旧程度，1全新,2-95新，3-9成新，4-8成新，5-7成新
    if (goods.IsNew == 2) { isnew = "95新"; }
    else if (goods.IsNew == 3) { isnew = "9成新"; }
    else if (goods.IsNew == 4) { isnew = "8成新"; }
    else if (goods.IsNew == 5) { isnew = "7成新"; }
    if (goods.GoodsType.GoodsTypeBId == 8)//其他
    {
        mbx = "其他";
        mbxnub = 8;
    }
    if (goods.GoodsType.GoodsType2.GoodsTypeBId == null)//商品类型的父id的父id为空，剩下即为电脑
    {
        mbx = goods.GoodsType.GoodsType2.TypeName.ToString();
        mbxnub = goods.GoodsType.GoodsTypeBId;
    }
    else//电脑类
    {
    }
}


<ul class="breadcrumb" style="margin:10px -5px 10px -5px;">
    <li><a href="/Home/Index">朝阳二手网</a></li>
    <li><a href="/Goods/IndexTwo?typeid=@mbxnub">@mbx</a></li>
    <li class="active">@goods.Name</li>
</ul>
<div class="row index_xianxi">
    <div class="col-lg-9 index_1">
        <div class="title_1">
            <h2>
                @goods.Name &nbsp; &nbsp;
                @if (user_1.RealName.Count() > 0)
                {
                    <img src="~/images/img/icon_idcard.png" />
                }
                else
                {
                    <img src="~/images/img/icon_idcard.png" class="gray" />
                }

            </h2>
        </div>
        <div class="pries_1">
            <h3>￥@goods.Price</h3><span>@string.Format("{0:yyyy年MM月dd}", goods.CreateTime)</span><span>10次浏览</span>
            @if (user_1.UserId == user.UserId)
            {
                <a href="#" class="btn btn-info btn-xs" style="margin:4px;text-align:center;background-color:#aadf9d">
                    <span class="glyphicon glyphicon-cog"></span> 管理
                </a>
            }

        </div>
        <hr />
        <div class="row">
            <div class="col-lg-5">
                <div id="myCarousel" class="carousel lunboyst">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        @for (int i = 1; i < goods.Goodsimage.Count(); i++)
                        {
                            <li data-target="#myCarousel" data-slide-to="@i"></li>
                        }

                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner" style="height:300px">
                        @foreach (var item in goods.Goodsimage)
                        {
                            if (good_2 == 0)
                            {
                                good_2++;
                                <div class="item active img_bg">
                                    <img src="~/images/img/@item.images" alt="First slide" style="height:300px;" />
                                </div>
                            }
                            else
                            {
                                <div class="item img_bg">
                                    <img src="~/images/img/@item.images" alt="First slide" style="height:300px;" />
                                </div>
                            }


                        }
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <table class="table_dz">
                    <tr>
                        <td>新旧程度：</td>
                        <td>@isnew</td>
                    </tr>
                    <tr>
                        <td>联系：</td>
                        <td>@goods.UserInfo.UserEmile</td>
                    </tr>
                    <tr>
                        <td>操作：</td>
                        <td>
                            <button class="btn btn-sm mybtn_1" data-toggle="modal" data-target="#exampleModal">
                                <span class="glyphicon glyphicon-shopping-cart span_white"></span>
                                <span class="span_white" >购买</span>
                            </button>
                            <button class="btn btn-sm mybtn_2"  data-toggle="modal" data-target="#exampleModa2">
                                <span class="glyphicon glyphicon-comment span_white"></span>
                                <span class="span_white">私信</span>
                            </button>
                        </td>
                    </tr>
                </table>
                <div>
                    <h3>请保护好自己的个人财产安全！</h3>
                </div>
            </div>
        </div>

        <div class="flexs_1">
            <div class="itmes">
                <h3>宝贝介绍</h3>
            </div>
            <div class="itmes">
                <span class="zhenti">
                    <span class="glyphicon glyphicon-heart glyphicon_color"></span><span>
                        收藏
                    </span>
                </span>|
                <span class="zhenti">
                    <span class="glyphicon glyphicon-share-alt glyphicon_color"></span><span>
                        分享
                    </span>
                </span>|
                <span class="zhenti">
                    <span class="glyphicon glyphicon-flag glyphicon_color"></span><span>
                        举报
                    </span>
                </span>
            </div>

        </div>
        <hr />
        <div>
            <table width="100%" class="table_pf">
                <tr>
                    <td>类型：<span style="font-weight:bold">@goods.GoodsType.TypeName</span></td>
                    <td>价格：<span class="jiage">@string.Format("{0:C}", goods.Price)</span> </td>
                </tr>
                <tr>
                    <td>收藏数：@goods.Love.Count()人</td>
                    <td>原价：<span class="jiage_gray" style="text-decoration: line-through">@string.Format("{0:C}", goods.Price_Yuan)</span></td>
                </tr>
                <tr>
                    <td>交易城市：@goods.Goodsaddress.TypeName</td>
                    <td>交易地点：湘龙街道北，100号
                    <td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3>
                            卖家故事：
                        </h3>
                        <p class="gushi">
                            @goods.Info
                        </p>
                    </td>
                </tr>
            </table>
            <div>
                @foreach (var item in goods.Goodsimage)
                {
                    <img src="~/images/img/@item.images" width="49%" />
                }
            </div>
            <div class="goods_buttom row">
                <div class="col-lg-1">
                    <img src="~/images/icopng/info.png" width="50" style="margin:10px;" />
                </div>
                <div class="col-lg-11">
                    <h4>朝阳二手网提醒您！</h4>
                    <p>1）为了您的资金安全，请选择见面交易，切勿提前汇款或者交保证金</p>
                    <p>2）收货前请仔细核验产品质量，避免出现以次充好的情况</p>
                    <p>3）朝阳二手网平台不介入任何交易过程，请仔细阅读防骗提示，以免蒙受损失</p>
                </div>
            </div>
            <div class="goods_jxgoods">
                <h3>为你精选</h3>
                <hr />
                <div class="row ">
                    <div class="col-lg-3">
                        <div class="dztp">
                            <img src="~/images/img/联想电脑图片1.jpg" width="100%" />
                        </div>
                        <p class="goods_jxgoods_p">朝阳二手网平台不介入任何交易过程，请仔细阅读防骗提示，以免蒙受损失</p>
                        <p><span style="color:#ff4757">￥230</span>/<span style="color:#a4b0be">电脑</span></p>
                    </div>
                    <div class="col-lg-3">
                        <div class="dztp">
                            <img src="~/images/img/联想电脑图片1.jpg" width="100%" />
                        </div>
                        <p class="goods_jxgoods_p">朝阳二手网平台不介入任何交易过程，请仔细阅读防骗提示，以免蒙受损失</p>
                        <p><span style="color:#ff4757">￥230</span>/<span style="color:#a4b0be">电脑</span></p>
                    </div>
                    <div class="col-lg-3">
                        <div class="dztp">
                            <img src="~/images/img/联想电脑图片1.jpg" width="100%" />
                        </div>
                        <p class="goods_jxgoods_p">朝阳二手网平台不介入任何交易过程，请仔细阅读防骗提示，以免蒙受损失</p>
                        <p><span style="color:#ff4757">￥230</span>/<span style="color:#a4b0be">电脑</span></p>
                    </div>
                    <div class="col-lg-3 ">
                        <a href="#" class="a_full_gd">
                            更
                            多<img src="~/images/icopng/更多.png" width="30" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="goods_tsgoods">
                <h3>推送消息</h3>
                <hr />
                <div class="row tsxx">
                    <div class="col-lg-3">
                        <img src="~/images/img/联想电脑图片4.jpg" width="100%" />
                    </div>
                    <div class="col-lg-8">
                        <p style="color:black;font-size:25px;"><a href="#">广告招租，有意请联系网站客服</a></p>
                    </div>
                    <div class="tsxx_gg col-lg-1" style="line-height:15px;">
                        <a href="#">广告</a>
                    </div>
                </div>
                <div class="row tsxx">
                    <div class="col-lg-3">
                        <img src="~/images/img/联想电脑图片4.jpg" width="100%" />
                    </div>
                    <div class="col-lg-8">
                        <p style="color:black;font-size:25px;"><a href="#">广告招租，有意请联系网站客服</a></p>
                    </div>
                    <div class="tsxx_gg col-lg-1" style="line-height:15px;">
                        <a href="#">广告</a>
                    </div>
                </div>
                <div class="row tsxx">
                    <div class="col-lg-3">
                        <img src="~/images/img/联想电脑图片2.jpg" width="100%" />
                    </div>
                    <div class="col-lg-8">
                        <p style="color:black;font-size:25px;"><a href="#">广告招租，有意请联系网站客服</a></p>
                    </div>
                    <div class="tsxx_gg col-lg-1" style="line-height:15px;">
                        <a href="#">广告</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 " style="padding-right:0px">
        <div style="text-align:center " class="index_1">
            <img src="~/images/img/@user_1.Images" class="img-thumbnail user_img" />
            <h3><a href="/User/Index_Index_two?UserId=@user_1.UserId">@user_1.UserName</a></h3>
            <p><span class="span_gray">注册时间：@string.Format("{0:yyyy年MM月dd}", user_1.AddTime)</span></p>
            <div class="personal-mybuluo-head">
                <div class="personal-mybuluo-wording">身份认证</div>
                <div class="personal-border jmu-border-1px border-bottom"></div>
            </div>
            <div class="row">
                @if (user_1.RealName.Count() > 0)
                {
                    <div class="col-lg-6"><img src="~/images/img/icon_idcard.png" /></div>
                    <div class="col-lg-6">已认证</div>
                }
                else
                {
                    <div class="col-lg-6"><img src="~/images/img/icon_idcard.png" class="gray" /></div>
                    <div class="col-lg-6">未进行认证</div>
                }

            </div>
            <div class="personal-mybuluo-head">
                <div class="personal-mybuluo-wording">该用户其他发布</div>
                <div class="personal-border jmu-border-1px border-bottom"></div>
            </div>
            <div class="user_good_if">
                @if (user_1.Goods.Count() < 1)
                {
                    <div><h3 style="text-align:center">暂无其他！</h3></div>
                }
                @foreach (var item in user_1.Goods)
                {
                    good_1++;
                    if (good_1 > 2)
                    {
                        break;
                    }
                    <div><a href="/Goods/Index?id=@item.GoodsId" class="chaochu_250" title="@item.Name">@item.Name</a></div>
                    <hr />
                }

                <hr />
                <button class="btn_genduo">查看TA发布的更多信息></button>
            </div>
        </div>

        <div class="index_1">
            <div class="user_good_if">
                <div>
                    <h4>
                        <img src="~/images/icopng/推广.png" />&nbsp;&nbsp;站内推广
                    </h4>
                </div>
                <hr />
                <div class="row">
                    <div class="zntg col-lg-4">
                        <img src="~/images/img/联想电脑图片1.jpg" width="100%" />
                    </div>
                    <div class="col-lg-8">
                        <a href="#" class="zntg_a chaochu_150" title="全新的华为电脑，免费送了！！">全新的华为电脑，免费送了！！</a><br />
                        <p><span style="color:#ff4757">￥230</span>/<span style="color:#a4b0be">长沙</span></p>
                    </div>

                </div>
                <div class="row">
                    <div class="zntg col-lg-4">
                        <img src="~/images/img/联想电脑图片3.jpg" width="100%" />
                    </div>
                    <div class="col-lg-8">
                        <a href="#" class="zntg_a chaochu_150" title="全新的华为电脑，免费送了！！">全新的华为电脑，免费送了！！</a><br />
                        <p><span style="color:#ff4757">￥230</span>/<span style="color:#a4b0be">长沙</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="zntg col-lg-4">
                        <img src="~/images/img/联想电脑图片2.jpg" width="100%" />
                    </div>
                    <div class="col-lg-8">
                        <a href="#" class="zntg_a chaochu_150" title="全新的华为电脑，免费送了！！">全新的华为电脑，免费送了！！</a><br />
                        <p><span style="color:#ff4757">￥230</span>/<span style="color:#a4b0be">长沙</span></p>
                    </div>
                </div>
                <hr />
                <div style="text-align:center"><button class="btn_genduo">查看更多站内推广</button></div>

            </div>
        </div>
        <div class="index_1">
            <div class="user_good_if">
                <div>
                    <h4>
                        <img src="~/images/icopng/链接.png" width="25" />&nbsp;&nbsp;相关类目
                    </h4>
                </div>
                <div>
                    <table class="tab-content table">
                        <tr>
                            <td><a href="#">长沙电脑</a></td>
                            <td><a href="#">长沙手机</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">长沙衣物</a></td>
                            <td><a href="#">长沙农产品</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">长沙生活用品</a></td>
                            <td><a href="#">长沙自行车</a></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">请扫码付款</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:center">
                <img src="~/images/icopng/mm_facetoface_collect_qrcode_1593244876510.png" width="300" />
            </div>
            <div class="modal-footer">
                <form action="/Goods/Play_buy?GoodsId=@goods.GoodsId" method="post" style="text-align:center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <input type="submit" class="btn btn-primary" value="已付款" />
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">请自行联系哦！</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table tab" style="text-align:center">
                    <tr>
                        <td>邮箱：</td>
                        <td>@user_1.UserEmile</td>
                    </tr>
                    <tr>
                        <td>手机：</td>
                        <td>@goods.Ipone</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary"  data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

