@using CYESW.Models
@model List<Goods>
    <div id="Replace_div">
        <table>
            <tr>
                <th>商品名称</th>
                <th>商品id</th>
                <th>商品时间</th>
                <th>商品info</th>
                <th>商品价格</th>
                <th>操作</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.GoodsId</td>
                    <td>@item.CreateTime</td>
                    <td>@item.Info</td>
                    <td>@item.Price</td>
                    <td><a href="#">编辑</a></td>
                </tr>
            }
        </table>
    </div>
